<%= form_for(@certification) do |f| %>

<table>
	<tr>
		<td><%= f.label :company %></td>
		<td><%= f.collection_select :company_id, Company.all, :id, :name, prompt: true %></td>
	</tr>
	<tr>
		<td><%= f.label :name %></td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td><%= f.label :year %></td>
		<td><%= f.text_field :year %></td>
	</tr>	
	<tr>
		<td><%= f.submit %></td>
	</tr>
</table>
<% end %>